* {
  background-color: black;
  font-family: Verdana,sans-serif;
  text-align:center;
}
h1 {
  font-size: 50px;
  font-weight: bold;
  display: block;
  color: white;
}
h2 {
  font-size: 42px;
  font-weight: 300;
  color: white;
}
p {
  font-size: 21px;
  color: gray;
}
.calltoaction {
  font-size: 16px;
  color: Aquamarine;
  text-decoration-line: underline;
}
.footer {
  text-align: right;
}
